main {
    margin-top: 1rem;
    margin-left: 2.5rem;
}

main > span > h1 {
    position: relative;

    color: var(--text-white);
    font-weight: bold;
    font-size: 3rem;
    margin-left: 0.5rem;
}

main > span > h1::after {
    position: absolute;
    content: '';

    z-index: -1;
    height: 2.5rem;
    width: 2.5rem;

    background-color: var(--brand-blue-dark);
    border-radius: 0.3125rem;

    top: -0.1rem;
    left: -0.5rem;
}