<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading... - VOXMO</title>
    <link rel="shortcut icon" href="../../public/favicon.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/header/index.css">
    <link rel="stylesheet" href="../css/header/accountTooltip.css">
    <link rel="stylesheet" href="../css/profiles/movie.css">
    <!-- Google Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <!-- CDNs -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <!-- Javascript -->
    <script type="module" src="../js/accounts/checkIfLoggedIn.mjs" defer></script>
    <script type="module" src="../js/header/accountTooltip.mjs" defer></script>
    <script type="module" src="../js/movies/moviePage.mjs" defer></script>
</head>
<body>
    <header>
        <div id="titleicon">V</div>
        <div class="searchbar">
            <form>
                <input type="text" placeholder="Search VOXMO..." id="searchbar-input">
            </form>
            <img src="../svgs/magnifying-glass-solid.svg" alt="search icon" >
        </div>
        <div class="dropdown-menu">
            Menu 
            <img src="../svgs/chevron-down-solid.svg" alt="arrow down">
        </div>
       <div class="vertical-header-rule"></div> 
       <div class="dropdown-menu">
            EN 
            <img src="../svgs/chevron-down-solid.svg" alt="arrow down">
       </div>
       <div class="log-in-sign-up">
            <a href="../views/signup.html" id="signup-button">Sign up</a>
            <a href="../views/login.html" id="login-button">Login</a>
            <span id="header-account-span">
                <img src="../svgs/circle-user-solid.svg" alt="user" class="invisible">
                <p id="header-account-name" class="invisible">Name</p>
            </span>
            <div class="log-in-sign-up__account-tooltip--hover" id="tooltip-hover"></div>
            <div class="log-in-sign-up__account-tooltip" id="account-tooltip">
                <a href="#">
                    <img src="../svgs/clipboard-user-solid-text-white.svg" alt="dashboard">
                    Dashboard
                </a>
                <button id="account-logout">
                    <img src="../svgs/right-from-bracket-solid-error.svg" alt="logout">
                    Logout
                </button>
            </div>
       </div>
    </header>

    <main>
        <!--
        <div>
            <img src="https://m.media-amazon.com/images/I/61LAh6cq1hL._AC_UF894,1000_QL80_.jpg" alt="poster">
            <div class="div__gradient"></div>
            <div class="div__movie-info">
                <div>
                    <h2>The Truman Show</h2>
                    <h3>He doesn't know it, but everything in Truman Burbank's (Jim Carrey) life is part of a massive TV set. Executive producer Christof (Ed Harris) orchestrates The Truman Show, a live broadcast of Truman's every move captured by hidden cameras. Cristof tries to control Truman's mind, even removing his true love, Sylvia (Natascha McElhone), from the show and replacing her with Meryl (Laura Linney). As Truman gradually discovers the truth, however, he must decide whether to act on it.</h3>
                    <span>
                        <img src="../svgs/stars/5.0.svg" alt="rating">
                        <p>(1 Reviews)</p>
                    </span>
                </div>
                <div>
                    <p>Released in <a href="#">13/11/1998</a></p>
                    <p>Directed by <a href="#">Peter Weir</a></p>
                </div>
            </div>
        </div>
    -->
    </main>
</body>
</html>