/* SVGs */

.searchbar > img {
    height: 24px;
    width: 24px;
    margin-right: 1.5rem;
}

.dropdown-menu > img {
    height: 15px;
    width: 15px;
    margin-left: 0.4375rem;
    margin-bottom: 0.2rem;
}

.close-icon {
    height: 24px;
    width: 24px;
}

.modal-nav-icon {
    height: 24px;
    width: 24px;
}

/* General Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 98px;
    width: 100%;

    background-color: var(--darker-dark);
}

#titleicon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;

    margin-left: 2.5rem;
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 5px;

    color: var(--text-white);
    background-color: var(--brand-blue);
}

/* Search Bar */

.searchbar {
    display: flex;
    flex-direction: row;

    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 5px;

    width: 54.563rem;

    color: var(--grey);
    background-color: var(--white-minus);
}

.searchbar > form > input {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: var(--darker-dark);

    width: 50.500rem;

    padding-left: 1.5rem;
    background: transparent;
    border: none;
    outline: none;
    height: 3rem;
}

.searchbar > form > input::placeholder {
    color: var(--grey);
}

.vertical-header-rule {
    background-color: var(--dark-minus);

    height: 36px;
    width: 0.313rem;
}

.dropdown-menu {
    display: flex;
    align-items: center;

    font-weight: bold;
    color: var(--text-white);

    margin: 0px 2rem 0px 2rem;
}

/* Log in - Sign up */

.log-in-sign-up {
    display: flex;
    justify-content: flex-end;

    width: 10%;
    margin-right: 2.625rem;
    gap: 2.375rem;
}

.log-in-sign-up > button {
    font-weight: bold;
    color: var(--text-white);

    font-family: 'Inter', sans-serif;
    cursor: pointer;

    border: none;
    background: none;
    text-decoration: none;
}

/* Sign up - DIALOG */

.signup-dialog {
    height: 423px;
    width: 58.375rem;

    background-color: var(--darker-dark);
    border: none;
    border-radius: 25px;
}

.signup-dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}

.signup-dialog > form {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.signup-dialog__right-align {
    display: flex;
    align-items: flex-end;

    flex-direction: column;
    width: 100%;
}

.signup-dialog__right-align > button {
    background: none;
    border: none;
    cursor: pointer;

    margin-right: 1rem;
    margin-top: 1rem;

}

.signup-dialog__title-center {
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}

.signup-dialog__dialog-step-one > div {
    display: flex;
    flex-direction: column;

    margin-top: 0.53125rem;

    align-items: center;
    justify-content: center;
}

.signup-dialog__title-center > div {
    color: var(--text-white);
    font-weight: bold;

    font-size: 3rem;
    background-color: var(--brand-blue);
    
    padding: 0.125rem 0.6875rem 0.125rem 0.6875rem;
    border-radius: 5px;
}

.signup-dialog__content > h1 {
    display: flex;
    justify-content: center;

    font-weight: 600;
    margin-top: 2rem;

    color: var(--text-white);
    font-size: 2.25rem;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column; 

    width: 100%;
    height: 100%;
}

.signup-dialog__content > div {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    margin-top: 1.9375rem;
}

.signup-dialog__inputs > label {
    display: flex;
    align-items: flex-start;

    width: 46.3125rem;
    font-weight: 600;
    font-size: 1.5rem;

    color: var(--grey);
}

.signup-dialog__inputs > input {
    font-size: 1.5rem;
    height: 60px;
    width: 46.3125rem;
    padding-left: 1.125rem;
    padding-right: 1.125rem;

    font-weight: 600;
    color: var(--darker-dark);
    background-color: var(--white-minus);
    border-radius: 5px;

    outline: none;
}

.signup-dialog__inputs > p {
    width: 100%;
    color: rgb(187, 19, 19);
}

.input--error {
    border: rgb(187, 19, 19) 3px solid;
}

.signup-dialog__dialog-nav {
    display: flex;
    width: 46.3125rem;
    margin-top: 0.9375rem;
    flex-direction: row;

    justify-content: center;
    margin-bottom: 2rem;
}

.signup-dialog__dialog-nav > .separator {
    width: 46.3125rem;
}

.navbutton {
    background: none;
    border: none;
    outline: none;

    cursor: pointer;
    transition: 0.5s;
}

.navbutton:disabled {
    opacity: 0.5;

    transition: 0.5s;
    cursor: not-allowed;
}