body {
    background-color: var(--background-dark);
}

.invisible {
    display: none;
}

@keyframes roration {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loading-rotation {
    animation: rotation 1s infinite ease;
}