/* SVGs */

.signup-dialog__confirmation-inputs > div > button > img {
    height: 27px;
    width: 27px;
}

.signup-dialog__password-validator > span > img {
    height: 27px;
    width: 27px;
}
.searchbar > img {
    height: 24px;
    width: 24px;
    margin-right: 1.5rem;
}

.dropdown-menu > img {
    height: 15px;
    width: 15px;
    margin-left: 0.4375rem;
    margin-bottom: 0.2rem;
}

.reg-icon {
    height: 24px;
    width: 24px;
}

/* General Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 98px;
    width: 100%;

    background-color: var(--darker-dark);
}

#titleicon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;

    margin-left: 2.5rem;
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 5px;

    color: var(--text-white);
    background-color: var(--brand-blue);
}

/* Search Bar */

.searchbar {
    display: flex;
    flex-direction: row;

    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 5px;

    width: 54.563rem;

    color: var(--grey);
    background-color: var(--white-minus);
}

.searchbar > form > input {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: var(--darker-dark);

    width: 50.500rem;

    padding-left: 1.5rem;
    background: transparent;
    border: none;
    outline: none;
    height: 3rem;
}

.searchbar > form > input::placeholder {
    color: var(--grey);
}

.vertical-header-rule {
    background-color: var(--dark-minus);

    height: 36px;
    width: 0.313rem;
}

.dropdown-menu {
    display: flex;
    align-items: center;

    font-weight: bold;
    color: var(--text-white);

    margin: 0px 2rem 0px 2rem;
}

/* Log in - Sign up */

.log-in-sign-up {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    margin-right: 2.625rem;
    gap: 2.375rem;
}

.log-in-sign-up > a {
    font-weight: bold;
    color: var(--text-white);

    font-family: 'Inter', sans-serif;
    cursor: pointer;

    border: none;
    background: none;
    text-decoration: none;
    transition: 0.5s;
}

.log-in-sign-up > span {
    display: flex;
    flex-direction: row;

    margin-right: 0.5rem;

    align-items: center;
    gap: 0.5rem;
    transition: 0.5s;
}

.log-in-sign-up > span > img {
    cursor: pointer;
    height: 24px;
}

.log-in-sign-up > span > p {
    font-weight: bold;
    color: var(--text-white);

    font-family: 'Inter', sans-serif;
    cursor: pointer;

    border: none;
    background: none;
    text-decoration: none;
}

.log-in-sign-up > span:hover {
    opacity: 0.5;
}

.log-in-sign-up > a:hover {
    color: var(--grey);
    font-weight: 900;
}